header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row;
	width: 100vw;
	padding: 0.75rem 1.5rem;
	z-index: 0;
}

.container {
	display: flex;
	gap: 1rem;
	z-index: inherit;
}

.profile {
	width: 2rem;
}

.menu_button {
	z-index: 60;
}
