header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row;
	width: 100%;
	padding: 0.75rem 1.5rem;
	z-index: 0;
}

.container {
	display: flex;
	gap: 1rem;
	z-index: inherit;
}

.item_num {
	display: absolute;
	left: 0;
	z-index: 40;
	bottom: 0;
	border: 1px solid black;
}

.profile {
	width: 2rem;
}

.menu_button {
	z-index: 60;
}

.desktop {
	display: none;
}

@media (min-width: 885px) {
	header {
		padding: 2rem 0;
		border-bottom: 1px solid lightgray;
		width: 100%;
	}
	.menu_button {
		display: none;
	}
	.desktop {
		display: block;
	}
	.container {
		gap: 2rem;
	}
}
