.product {
	display: flex;
	flex-flow: column;
	flex: 1;
	height: 100vh;
}

img {
	width: 100%;
	height: auto;
	object-fit: contain;
}

.product_text {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-evenly;
	gap: 1rem;
	padding: 1rem 0.5rem;
}
