@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;

	/* Variables */
	/* Primary */

	--Orange: hsl(26, 100%, 55%);
	--Paleorange: hsl(25, 100%, 94%);

	/* Neutral */

	--Verydarkblue: hsl(220, 13%, 13%);
	--Darkgrayishblue: hsl(219, 9%, 45%);
	--Grayishblue: hsl(220, 14%, 75%);
	--Lightgrayishblue: hsl(223, 64%, 98%);
	--White: hsl(0, 0%, 100%);
	/* (with 75% opacity for lightbox background) */
	--Black: hsl(0, 0%, 0%);
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
	margin: 0;
	padding: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
body {
	height: 100%;
	font-family: 'Kumbh Sans', sans-serif;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	background-color: var(--Lightgrayishblue);
	margin: 0 auto;
	display: flex;
	flex-flow: column;
	min-width: 320px;
	min-height: 100vh;
	max-width: 1440px;
	/* padding: 0 10%; */
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

a {
	font-weight: 500;
	color: black;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

ul {
	list-style: none;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border: 0;
	background-color: transparent;
	color: black;
}

@media (min-width: 885px) and (max-width: 1075px) {
	body {
		padding: 0;
	}
}

@media (min-width: 1076px) {
	body {
		padding: 0 10%;
	}
}
